/* Create basic UI elements */

/* Play area
start button 
use Flexbox and CSS grid
*/

* {
 font-family: 'Press Start 2P', cursive;
};

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: yellow;
}

.grid div {
    height: 20px;
    width: 20px;
    background-color: red;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}